.deleteConfirmationContent {
  font-size: var(--font-size-text-small);
  font-weight: var(--font-weight-regular);
  color: var(--color-text-dark);
}

.deleteConfirmationContent strong {
  color: var(--color-text-primary);
}

.deleteConfirmationtext {
  font-size: var(--font-size-text);
  margin-bottom: var(--spacing-lg);
}

.deleteConfirmationContentText {
  margin-bottom: var(--spacing-lg);
}

.deleteConfirmationContentText p {
  margin-bottom: 10px;
}
