<div class="statementList">
  <ng-container *ngIf="transacoes$ | async as transacoes; else noTransactions">
    <div *ngFor="let item of transacoes" [attr.data-key]="item.id" class="statementItem">
      <span class="itemMonth">{{ getMonthName(item.date) }}</span>
      <div class="itemsTypeDate">
        <p class="itemType">{{ item.type }}</p>
        <p class="itemDate">{{ item.date }}</p>
      </div>
      <div class="itemAmountActions">
        <p class="itemAmount" [class.negative]="item.amount < 0">
          {{ item.amount < 0 ? `- R$` : `R$` }} {{ (getAbsolute(item.amount) | number: '1.2-2') ?? '' }}
        </p>
        <div class="itemActions">
          <button
            (click)="handleEditClick(item)"
            class="actionButton"
            title="Editar transação"
          >
            <img src="/icon-edit.svg" alt="Editar" width="20" height="20" />
          </button>
          <button
            (click)="handleDeleteClick(item.id)"
            class="actionButton"
            title="Deletar transação"
          >
            <img src="/icon-trash.svg" alt="Deletar" width="20" height="20" />
          </button>
        </div>
      </div>
      <hr class="hr"/>
    </div>
  </ng-container>
  <ng-template #noTransactions>
    <p class="noTransactionsMessage">Nenhuma transação encontrada.</p>
  </ng-template>
</div>
