.editForm {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  align-items: baseline;
}

/* Editar tipo de transação */
/* .formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup label {
  font-weight: bold;
  margin-bottom: 5px;
  color: var(--color-text-primary);
}

.inputField {
  padding: 10px;
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  font-size: 1rem;
}*/

.modalActions {
  display: flex;
  gap: 15px;
  padding-top: 15px;
}