<div class="card">
  <div class="header">
    <h3 class="title">Extrato</h3>
  </div>

  <app-statement-list
    (onEditRequest)="onEditRequest($event)"
    
  ></app-statement-list> 
  (onDeleteRequest)="onDeleteRequest($event)"

  <!-- Agora usamos os dois novos componentes de modal -->
  <app-edit-transaction-modal
    [isEditModalOpen]="isEditModalOpen"
    [transactionToEdit]="transactionToEdit"
    (onClose)="closeEditModal()"
    (onEditComplete)="onEditComplete($event)"
  ></app-edit-transaction-modal>

  <app-delete-transaction-modal
    [isDeleteModalOpen]="isDeleteModalOpen"
    [transactionToDelete]="transactionToDelete"
    (onClose)="closeDeleteModal()"
    (onDeleteConfirm)="onDeleteConfirm($event)"
  ></app-delete-transaction-modal>
</div>