<div class="card">
  <div class="header">
    <h3 class="title">Extrato</h3>
    <div class="filters">
      <!-- <app-input
        placeholder="Buscar por descrição..."
        [(ngModel)]="searchQuery"
        (ngModelChange)="applyFilters()"
      ></app-input> -->

      <app-dropdown
        class="dropdown"
        [options]="[
          { value: '', label: 'Todos os tipos' },
          { value: 'Credit', label: 'Crédito' },
          { value: 'Debit', label: 'Débito' }
        ]"
        [(ngModel)]="filterType"
        (ngModelChange)="applyFilters()"
      ></app-dropdown>
    </div>
  </div>

  <app-statement-list
    [transactions]="filteredTransactions"
    (onEditRequest)="onEditRequest($event)"
    (onDeleteRequest)="onDeleteRequest($event)"
  ></app-statement-list>

  <app-edit-transaction-modal
    [isEditModalOpen]="isEditModalOpen"
    [transactionToEdit]="transactionToEdit"
    (onClose)="closeEditModal()"
    (onEditComplete)="onEditComplete($event)"
  ></app-edit-transaction-modal>

  <app-delete-transaction-modal
    [isDeleteModalOpen]="isDeleteModalOpen"
    [transactionToDelete]="transactionToDelete"
    (onClose)="closeDeleteModal()"
    (onDeleteConfirm)="onDeleteConfirm($event)"
  ></app-delete-transaction-modal>
</div>
