<form class="form" (ngSubmit)="handleSubmit()">
  <h3 class="title">Nova transação</h3>
  <p *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</p>
  <app-dropdown
    [options]="transactionOptions"
    [(ngModel)]="transactionType"
    name="transactionType"
  ></app-dropdown>
  <app-input
    label="Valor"
    type="number"
    step="0.01"
    placeholder="00,00"
    [(ngModel)]="value"
    name="value"
  ></app-input>
  <app-button type="submit" variant="secondary" class="submitButton">
    Concluir transação
  </app-button>
</form>
