<nav class="sidebar">
  <ul>
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        Início
      </a>
    </li>
    <hr />
    <li>
      <a routerLink="/dashboard/transferencias" routerLinkActive="active">
        Transferências
      </a>
    </li>
    <hr />
    <li>
      <a routerLink="/dashboard/investimentos" routerLinkActive="active">
        Investimentos
      </a>
    </li>
    <hr />
    <li>
      <a routerLink="/dashboard/outros-servicos" routerLinkActive="active">
        Outros serviços
      </a>
    </li>
  </ul>
</nav>